<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Lisää genre</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	</head>
	<body>
        <h1>Lisää genre</h1>
        <div>
            <form th:object="${genre}" th:action="@{savegenre}" action="#" method="post">
                <label for="name">Genre</label>
                <input type="text" id="name" th:field="*{name}" />
                    <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Virhe</div>
                <div style="clear: both; display: block; height: 10px;"></div>
                <input type="submit" value="Tallenna"></input>
            </form>
        </div>
	</body>
</html>