<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
	<head>
		<title>Albumit</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	</head>
	<body>
        <div class="navbar navbar-inverse navbar-fixed-top" th:fragment="header">
    		<div class="navbar-header">
				<a href="/home" class="btn btn-dark">Etusivu</a>
        		<a href="/albumlist" class="btn btn-secondary">Albumit</a>
				<a href="/artistlist" class="btn btn-info">Artistit</a>
				<a href="/genrelist" class="btn btn-warning">Genret</a>
				<a href="/songlist" class="btn btn-primary">Kappaleet</a>
        	</div>
			<div class="nav navbar-nav navbar-right">
				<form th:action="@{/logout}" method="post">
	    			<input type="submit" value="Kirjaudu ulos" class="btn btn-sm btn-danger"/>
        		</form>
			</div>
    	</div>
        <h1>Albumit</h1>
            <span sec:authorize="hasAuthority ('ADMIN')"><a href="/addalbum" class="btn btn-success">Lisää albumi</a></span>
            <table class="table table-striped">
                <tr>
                    <th>Albumi</th>
                    <th>Julkaisuvuosi</th>
                    <th>Artisti</th>
                    <th>Kappaleet</th>
                </tr>
                <tr th:each = "album : ${albums}">
                    <td th:text="${album.title}"></td>
                    <td th:text="${album.releaseYear}"></td>
                    <td th:text="${album.artist.name}"></td>
                    <td>
                        <span th:each="song,iterStat : ${album.songs}">
                            <span th:text="${song.title}"/><th:block th:if="${!iterStat.last}"><br></th:block>
                        </span>
                    </td>
                    <td sec:authorize="hasAuthority ('ADMIN')"><a th:href="@{/editalbum/{id}(id=${album.albumId})}" class="btn btn-info">Muokkaa</a></td>
                    <td sec:authorize="hasAuthority ('ADMIN')"><a th:if="${album.songs.empty}" th:href="@{/deletealbum/{id}(id=${album.albumId})}" class="btn btn-danger">Poista</a></td>
                </tr>
            </table>
	</body>
</html>